data_root: "../data"

datasets:
  mtg_jamendo:
    root: "mtg-jamendo-dataset"
    metadata_file: "data/autotagging.tsv"
    splits_dir: "data/splits"
    audio_root: "downloads"

  deam:
    root: "deam"
    audio_dir: "audio"
    features_dir: "features"
    annotations:
      averaged_dynamic_dir: "annotations/averaged/dynamic"
      averaged_song_level_dir: "annotations/averaged/song-level"
      per_rater_dynamic_dir: "annotations/per-rater/dynamic"
      per_rater_song_level_dir: "annotations/per-rater/song-level"

